@media (min-width: 768px) and (max-width: 1024px) {

    .nav_bar {
        min-width: unset;
        width: 45%;
    }

    .search_bar {
        width: 35%;
    }

    .sale_item {
        width: 30%;
        margin-bottom: 15px;
    }

    .category_heading {
        font-size: 1.5em;
    }

    .footer_container {
        padding: 30px;
    }
}


@media (max-width: 767px) {

    header {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 0;
    }

    .logo_container {
        margin-left: 10px;
    }

    .myntra_home {
        height: 40px;
    }

    .nav_bar {
        width: 100%;
        min-width: unset;
        justify-content: space-around;
        margin-top: 10px;
    }

    .nav_bar a {
        font-size: 12px;
        padding: 10px 5px;
    }

    .search_bar {
        width: 95%;
        margin: 10px auto;
        order: 3;
    }

    .action_bar {
        width: 100%;
        margin: 10px 0;
        justify-content: space-around;
    }

    .action_name {
        font-size: 10px;
    }

    .banner_container {
        margin: 15px 0;
    }

    .category_heading {
        font-size: 1.2em;
        margin: 30px 0 10px 15px;
    }

    .sale_item {
        width: 45%;
        margin-bottom: 10px;
    }

    .footer_container {
        flex-direction: column;
        padding: 20px;
    }

    .footer_column {
        margin-bottom: 20px;
    }

    .copyright {
        text-align: center;
    }
}
