* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}

.myntra_home {
    height: 55px;
}

.logo_container {
    margin-left: 4%;
}

.nav_bar {
    min-width: 500px;
    display: flex;
    justify-content: space-evenly;
}

.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 12px;
    border-bottom: 3px solid transparent;
}

.nav_bar a:hover{
    border-bottom: 4px solid #f54e77;
}

.nav_bar a sup{
    color: #ff3f6c;
    font-size: 10px;
}

.search_bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}

.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}

.search_input{
    background-color: #f5f5f6;
    color: #696e79;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
}

.action_bar {
    margin-right: 4%;
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
